<div class="about-testimonials">
  <div class="wrapper">
    <h3 class="text-center">{{ section.settings.about_testimonials_headline }}</h3>

    <div class="grid">
      <div class="grid__item large--two-thirds push--large--one-sixth">
        <div class="about-testimonials__carousel">
          {% for block in section.blocks %}
            <div class="about-testimonial">
              <p>{{ block.settings.about_testimonial_content }}</p>

              <div class="about-testimonial__footer">
                <span>{{ block.settings.about_testimonial_name_age }}</span>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "About Testimonials",
    "settings": [
      {
        "type": "text",
        "id": "about_testimonials_headline",
        "label": "Headline"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "Testimonial",
        "limit": 6,
        "settings": [
          {
            "type": "textarea",
            "id": "about_testimonial_content",
            "label": "Content"
          },
          {
            "type": "text",
            "id": "about_testimonial_name_age",
            "label": "Name / Age"
          }
        ]
      }
    ]
  }
{% endschema %}